@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-image: url('globe.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: white;
  border-radius:10px;
  box-shadow:0 2px 5px rgba(0,0,0,0.3);
  width:450px;
  max-width:100%;
  overflow:hidden;
}

.header {
  background-color:#f7f7f7;
  border-bottom:solid 1px #f0f0f0;
  padding:20px 40px;
}
.header h2 {
  margin:0px;
}

.form {
  padding:30px 40px;
}

.form-control {
  margin-bottom:10px;
  padding-bottom:20px;
  position:relative;
}

.form-control label {
  display:inline-block;
  margin-bottom:5px;
}

.form-control input {
  border:2px solid #f0f0f0;
  border-radius:5px;
  display:block;
  width:100%;
  padding:10px;
  font-size:14px;
  font-family:inherit;
}

.form-control.success input {
  border-color:#16bc2c;
}

.form-control.error input {
  border-color:#dd2525;
}

.form-control.success i.fa-check-circle{
  visibility:visible;
  color:#16bc2c;
}

.form-control.error i.fa-exclamation-circle{
  visibility:visible;
  color:#dd2525;
}

.form-control.error small {
  visibility:visible;
  color:#dd2525;
}

.form-control i {
  position:absolute;
  top:37px;
  right:-10px;
  visibility:hidden;
}
.form-control small {
  position:absolute;
  bottom:0;
  left:0;
  visibility:hidden;
}
.form button {
  background-color:#ff922d;
  border:2px solid #ff922d;
  border-radius:10px;
  color:white;
  display:block;
  width:100%;
  padding:10px;
  font-size:20px;
  font-family:inherit;
}

@media screen and (max-width:900px) {
  .container {
    background-color: white;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.3);
    width:350px;
    height: auto;
    max-width:100%;
    overflow:hidden;
  }
}


@media screen and (max-width:420px) {
  .container {
    background-color: white;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.3);
    width:80%;
    height: auto;
    max-width:100%;
    overflow:hidden;
  }
  small {
    font-size: 10px;
  }
}